<h1 class="h1">noms</h1>
<h3>get your nom on</h3>
<ul>
    {{#each nomz}}
      <li>
        <a href="/Noms/{{this.id}}">{{this.name}}</a>
      </li>
    {{/each}}
</ul>

<a class="delete" href="Noms/new">add a recipe</a>
