<h1 class="h1">add your recipe!</h1>

<form action="/Noms" method="POST">
  <p>
    <label for="name">Name . . . . . . </label>
    <input class="boxes" type="text" name="name">
  </p>
  <p>
    <label for="description">Description</label>
    <input class="boxes" type="text" name="description">
  </p>
  <p>
    <label for="name">Ingredients</label>
    <input class="boxes" type="text" name="ingredients">
  </p>
  <p>
    <label for="instructions">Instructions</label>
    <input class="boxes" type="text" name="instructions">
  </p>
  <input class="delete" type="submit" value="Create">
</form>