    <ul>
      <li><a href="/Noms/login">Log-In</a></li>
      <li><a href="/Noms/signup">Sign-Up</a></li>
      <li><a href="/Noms/logout">Log-Out</a></li>
    </ul>
<h1 class="h1"> nom-nom recipes </h1>

<h3>Welcome!</h3>
<p>If you're lookin' to do some cookin', check out these </p>
<p><a class="checkit" href="/Noms">...delicious recipes...</a></p>
