<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NomNom Recipes</title>
    <style>
      body {
        background: rgb(55, 55, 55);
        color: white;
      }
      a {
        text-decoration: none;
        color: white;
      }
      .boxes {
        width: 300px;
      }
    </style>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
