<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Poppins|Russo+One" rel="stylesheet">
    <title>NomNom Recipes</title>
    <style>
      body {
        margin: 0 auto;
        max-width: 600px;
        color: white;
        font-family: 'Russo One', sans-serif;
        text-align: center;
        background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
        background-blend-mode: multiply;
      }
      html, body {
        height: 100%;
      }
      .instr {
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        margin: 30px 0 30px 0;
      }
      form {
        text-align: center;
      }
      .checkit {
        border: 2px white solid;
        padding: 3px;
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
      }
      ul {
        list-style-type: none;
        padding: 0;
      }
      a {
        text-decoration: none;
        color: white;
        text-align: center;
      }

      {{!-- from css-tricks --}}
      .delete { transition: all .2s ease-in-out; }
      .delete:hover { transform: scale(1.1); }
      p .checkit { transition: all .2s ease-in-out; }
      p .checkit:hover { transform: scale(1.1); }

      .delete, .editRecipe {
        background: none;
        font-size: 15px;
        color: white;
        font-family: 'Poppins', sans-serif;
        border: 1px white solid;
        text-align: center;
        margin-top: 20px;
        padding: 3px;
      }
      .boxes {
        width: 300px;
        font-size: 15px;
        text-align: center;
        border-radius: 20px;
        height: 20px;
      }
      .h1 {
        font-size: 60px;
        text-align: center;
        margin-bottom: -10px;
      }
      h3 {
        text-align: center;
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
      }
      p {
        text-align: center;
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
